main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px;

  border: 8px solid var(--bgColor);
  background: var(--bgColor);
  box-shadow:
    -5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.15),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  transition: 0.5s;
  
}


.Banner {
  position: relative;
  width: 82%;
  height: 100%;
  border: 1px solid rgba(253, 253, 253, 0.1);
  border-radius: 20px;
  background: var(--bgColor);
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.15),
    5px 5px 15px rgba(71, 84, 85, 0.35);
  transition: 1s;
  overflow: hidden;
  overflow-y:scroll; /* allow vertical scroll */

}



/* Light Mode Variables (override default dark mode ones) */
.light {
  --bgColor: #f51212;
  --textColor: #1a1a1a;
}

.light .Banner {
  background: var(--bgColor);
  box-shadow: -5px -5px 15px rgb(122, 119, 119),
    5px 5px 15px rgba(43, 42, 42, 0.3);
}

.collapsed .Banner {
  width: 93%;
}

section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 30px 0 30px;
  bottom: 0;
  opacity: 0;
  transition: ease-in-out 1s;
  transform-origin: bottom;
  z-index: 1000;
  
}

section::-webkit-scrollbar {
  display: none;
}

section.active {
  top: 100px;
  height: auto;
  overflow-y: visible;
  opacity: 1;
}

@media (max-width: 450px) {
  section{
    padding: 0 5px 0 10px;
  }
  main{
    padding: 10px;
    gap: 10px;
  }
}

