main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  border: 8px solid var(--bgColor);
  background: var(--bgColor);
  box-shadow:
    -5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.15),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  transition: 0.5s;
}
@media (max-width: 450px) {
  main{
    padding: 15px;
    gap: 9px;
    margin-bottom: 40px;
  }
}

.Banner {
  width: 80%;
  
  height: 100%;
  padding: 20px;
  border: 1px solid rgba(253, 253, 253, 0.1);
  border-radius: 20px;
  background: var(--bgColor);
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.15),
    5px 5px 15px rgba(71, 84, 85, 0.35);

  transition: 1s;
}
/* Light Mode Variables (override default dark mode ones) */
.light {
    --bgColor: #f51212;
    --textColor: #1a1a1a;
}

.light .Banner  {
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgb(122, 119, 119),
                5px 5px 15px rgba(43, 42, 42, 0.3);
}

 .collapsed .Banner{
  width: 93%;
}