.game-section {
  margin-top: 200px;
  padding: 100px;
  color: white;
}

/* Featured Game */
.featured-game {
   width: 80%;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 450px;
  gap: 20px;
  background: #1f2b40;
  padding: 20px;
  border-radius: 16px;
}

.featured-img {
  
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.featured-info h1 {
  margin-top: 10px;
  font-size: 1.8rem;
}

.featured-info p {
  font-size: 0.9rem;
  opacity: 0.85;
  margin: 10px 0;
}

.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.btn {
  padding: 10px 16px;
  background: #0099ff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn.play {
  background: #ff5e57;
}

/* Trending Games */
.trending-section {
  margin-top: 40px;
}

.trending-row {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.game-card {
  min-width: 160px;
  background: #2d3a55;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  flex-shrink: 0;
}

.game-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.game-card h4 {
  margin-top: 8px;
  font-size: 0.9rem;
}
