.sidebar {
    width: 20%;
    height: 100%;
    padding: 20px;
    border: 1px solid rgba(253, 253, 253, 0.1);
    border-radius: 20px;
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.15),
                5px 5px 15px rgba(71, 84, 85, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 1s;
}

.TOP {
    height: 10%;
    position: absolute;
    top: 50px;
    right: 70px;
    left: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(241, 236, 236, 0.15),
                5px 5px 15px rgba(53, 53, 53, 0.35);
}

.TOP .logo {
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 600;
    user-select: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.TOP .logo .filter {
    font-size: x-large;
    padding-left: 60px;
}

.TOP .RightTop,
.TOP .mode,
.fill {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: aliceblue;
    user-select: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}

.sidebar .option {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

.sidebar .option li a,
.sidebar .Contact li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    gap: 25px;
    background: var(--bgColor);
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    transition: 0.5s;
}

.sidebar .option li a:hover,
.sidebar .option li a:active,
.sidebar .Contact li a:hover,
.sidebar .Contact li a:active {
    box-shadow: -5px -5px 15px rgba(158, 77, 77, 0.15),
                5px 5px 15px rgba(0, 0, 0, 0.35);
}

.sidebar .Contact {
    margin-top: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Collapsed mode styles */
.collapsed .sidebar {
    width: 10%;
}

.collapsed .sidebar .option .nameName,
.collapsed .sidebar .Contact .nameName,
.collapsed .TOP .logo .logoName {
    display: none;
}

/* Light Mode Theme */
.light {
    --bgColor: #5ff5e1;
    --textColor: #1a1a1a;
}

.light .logo,
.light .RightTop,
.light .RightTop .mode,
.light .option li a,
.light .Contact li a,
.light .fill {
    color: var(--textColor);
}

.light .TOP,
.light .sidebar {
    background: var(--bgColor);
    box-shadow: -5px -5px 15px rgba(129, 129, 129, 0.4),
                5px 5px 15px rgba(9, 8, 8, 0.3);
}

.light .option li a:hover {
    box-shadow: -5px -5px 15px rgba(158, 158, 158, 0.15),
                5px 5px 15px rgba(0, 0, 0, 0.15);
}

/* === MEDIA QUERIES === */

@media (max-width: 1200px) {
    .sidebar {
        width: 22%;
    }

    .sidebar ul {
        padding-left: 10px;
        font-size: 1rem;
    }

    .sidebar .option li a,
    .sidebar .Contact li a {
        padding-left: 10px;
        gap: 13px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 20%;
    }

    .sidebar ul {
        /* padding-top: 50px; */
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .sidebar .option .nameName,
    .sidebar .Contact .nameName,
    .TOP .logo .filter {
        display: none;
    }

    .TOP .logo {
        font-size: 1.5rem;
        gap: 5px;
    }

    .TOP .logo i {
        font-size: 2rem;
    }

    .TOP .RightTop,
    .TOP .RightTop .mode {
        font-size: 1rem;
        gap: 1px;
    }

    /* Collapsed version at this size */
    .collapsed .sidebar {
        width: 20%;
    }

    .collapsed .TOP .logo {
        font-size: 1.5rem;
        gap: 5px;
    }

    
}

@media (max-width: 500px) {
    .sidebar {
        width: 15%;
    }

    .sidebar ul {
        /* padding-top: 50px; */
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .sidebar .option .nameName,
    .sidebar .Contact .nameName,
    .TOP .logo .filter {
        display: none;
    }

    .TOP .logo {
        font-size: 1.2rem;
        gap: 5px;
    }

    .TOP .logo i {
        font-size: 2rem;
    }
    

    .TOP .RightTop,
    .TOP .RightTop .mode {
        font-size: .9rem;
        gap: 0;
    }

    /* Collapsed version at this size */
    .collapsed .sidebar {
        width: 15%;
    }
/* 
    .collapsed .sidebar .option .nameName,
    .collapsed .sidebar .Contact .nameName,
    .collapsed .TOP .logo .filter {
        display: none;
    }

    .collapsed .TOP .logo {
        font-size: 1.2rem;
        gap: 5px;
    }

    .collapsed .TOP .RightTop,
    .collapsed .TOP .RightTop .mode {
        font-size: .9rem;
        gap: 0;
    } */
}
